/**
 * Filters
 */
.mediaplugin {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.mediaplugin,
.mediaplugin video {
    /* Make videos as wide as possible without being wider than their containers */
/* SSU_AMEND START - full width playing up */
    /* width: 100vw; */
/* SSU_AMEND END */
    max-width: 100%;
}

.mediaplugin > div {
    margin: auto;
}

/* Make media plugin behave properly in mod summaries and labels */
.mod-indent-outer .mediaplugin {
    display: table-cell;
}
